extends layout
block content
	.container
		h1 Сборщик патчей FIS

		#alertContainer

		.panel.panel-default
			.panel-body
				// Название патча
				.row
					.col-md-12
						.form-group
							label(for="formPatchName") Название патча
							input.form-control(id="formPatchName",placeholder="Например, «072.072»")
				// Список репозиториев с выбором диапазона сборки
				.row
					.col-md-2
						label Репозиторий
					.col-md-2
						label
					.col-md-4
						label Собрать ветку целиком
					.col-md-4
						label Собрать диапазон ревизий
				each repoData, repoName in reposData
					.row.repoRow
						.col-md-2
							.checkbox
								label
									input.selectRepo(type="checkbox", value="#{repoName}")
									span.repoName #{repoName}
						.col-md-2
							.checkbox
								label
									input.isDistrib(type="checkbox", value="distrib")
									span Дистрибутив
						.col-md-4
							select.form-control.selectpicker.show-tick.formBranch(id="formBranch#{repoName}", data-live-search="true")
								option(value='') Выберите ветку
								each branch in repoData.branches
									option(value="#{branch}", style="background: #{repoData.branchesMetadata[branch].color};") #{branch}
						.col-md-2
							select.form-control.selectpicker.show-tick.formStartRev(id="formStartRev#{repoName}", data-live-search="true")
								option(value='') Выберите начальную ревизию
								each revision in repoData.revisions
									option(value="#{revision.node};#{revision.parent1}", style="background: #{revision.color};") [#{revision.branch}] #{revision.rev} #{revision.desc}
						.col-md-2
							select.form-control.selectpicker.show-tick.formEndRev(id="formEndRev#{repoName}", data-live-search="true")
								option(value='') Выберите конечную ревизию
								each revision in repoData.revisions
									option(value="#{revision.node};#{revision.parent1}", style="background: #{revision.color};") [#{revision.branch}] #{revision.rev} #{revision.desc}
				.row.mt15
					.col-md-12
						button#buttonPatchSvn.btn.btn-success.btn-block(type="button") Собрать патч и залить в SVN
				.row.mt15
					.col-md-12
						button#buttonPatchDownload.btn.btn-primary.btn-block(type="button") Собрать патч и скачать архив
		.panel.panel-default
			.panel-body
				// Поле настроек сборщика
				.row
					.col-md-12
						.form-group
							label(for="formSettings") Настройки
							textarea#formSettings.form-control(rows="10") #{settings}
				.row.mt15
					.col-md-12
						button#buttonSaveSettings.btn.btn-success.btn-block(type="button") Сохранить настройки
				.row.mt15
					.col-md-12
						button#buttonResetSettings.btn.btn-danger.btn-block(type="button") Сбросить настройки и репозитории
