#queue.panel.panel-default
	.panel-body
		// Очередь заданий
		.row
			.col-md-12
				h4 Очередь заданий
				button.reloadQueueList.btn.btn-default.btn-xs.btn-right(type=button) Обновить список очереди
				table.table
					thead
						tr
							th #
							th Тип задания
							th Дата создания
							th Инициатор
							th Статус
							th
					tbody
						each item, i in queue
							tr
								td #{i + 1}
								td #{item.taskName}
								td #{item.taskDate} #{item.type}
								td #{item.taskCreator}
								td
									if (item.status === 'error')
										a.error(title="#{item.result}") #{item.taskStatus}
									else if (item.status === 'done' && item.type === 'make-patch')
										a(href="#{item.result}") #{item.taskStatus}
									else
										|#{item.taskStatus}
								td.text-right
									button.deleteFromQueue.btn.btn-default.btn-xs(type=button, data-id="#{item.id}", data-status="#{item.status}") удалить
